@model SmartSys.BL.Enquiry.DataLevelTwentySix

@{
    ViewBag.Title = "DataLevelTwentySix";
}

<style>
    tr.spaceUnder > td {
        padding-bottom: 5px;
        padding-left: 5px;
    }
</style>
<table>
    <tr class="spaceUnder">
        <td>
            <label>Send By:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.SendBy, new { @readonly = "readonly", @class = "form-control" })
        </td>
        <td>
            <label>Send Date:</label>
        </td>
        <td>
            @Html.EJ().DatePicker("SendDate").Value(Model.SendDate).DateFormat("MM/dd/yyyy").ReadOnly(true)
        </td>
        
    </tr>
    <tr class="spaceUnder">
        <td>
            <label>Time Taken(HH:MM):</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.TimeTaken, new { @readonly = "readonly", @class = "form-control" })
        </td>
    </tr>
</table>
@Html.EJ().ScriptManager()

