@model SmartSys.BL.DW.ItemModel

@{
    ViewBag.Title = "Item List";
}

<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-list  text-info">
    Item List
</div>


<div style="position:relative">
    @(Html.EJ().Grid<SmartSys.BL.DW.ItemModel>("grdItemList")
                    .Datasource(ds =>

                  ds.URL("/DWItem/GetItemData").Offline(true))
        .AllowPaging()

       .PageSettings(m=>m.PageSize(20))
         //.ContextMenuSettings(contextMenu =>
         //{
         //    contextMenu.EnableContextMenu()
         //    .ContextMenuItems(Item => Item.AddTool(ContextMenuItems.Save))
         //    .CustomContextMenuItems(new List<string> { "View Item Detail" });
         //})
         .ContextMenuSettings(contextMenu =>
         {
             contextMenu.EnableContextMenu();
             contextMenu.DisableDefaultItems();
             contextMenu.CustomContextMenuItems(c =>
             {
                 c.AddItem("Edit1", "View Item Detail");
             });

         })
        .AllowSorting()
        .EnableHeaderHover()
        .AllowResizing()

        .AllowFiltering(true)
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .AllowScrolling()
        
        .EnableAltRow(true)
                .PageSettings(p => { p.PageSize(20); })
        //.EnablePersistence(true)
        .ClientSideEvents(eve => { eve.ContextOpen("contextopen"); })
        .ClientSideEvents(eve => { eve.ContextClick("contextclick"); })
        .Columns(col =>
        {
            col.Field("ItemId").HeaderText("ID").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(60).Add();
            col.Field("ItemName").HeaderText("Item Name").Width(300).Add();
            col.Field("BrandName").HeaderText("Brand Name").Width(150).Add();
            col.Field("Category").HeaderText("Category").Width(150).Add();
            col.Field("MPN").HeaderText("MPN").Width(150).Add();
            col.Field("PurchaseRate").HeaderText("Purchase Rate").Width(150).Add();
            col.Field("SaleRate").HeaderText("Sale Rate").Width(150).Add();
            //foreach (var obj in ViewBag.lstCompany)
            //{
            //    col.Field(obj.CompCode.ToString()).HeaderText(obj.CompName).Template(true).TemplateID(obj.CompTemplet).TextAlign(TextAlign.Center).Width(80).Add();
            //}
            col.Field("CreatedBy").HeaderText("Created By").Width(150).Add();
            col.Field("CreatedDate").HeaderText("Created Date").Format("{0:MM/dd/yyyy}").Width(150).Add();
            col.Field("ModifiedByName").HeaderText("Modified By").Width(150).Add();
            col.Field("ModifiedDateStr").HeaderText("Modified Date").Width(130).Add();
            col.HeaderText("View").Template("#View").TextAlign(TextAlign.Center).AllowFiltering(false).Width(90).Add();
            //if (Enumerable.Count(ViewBag.lstCompany) > 0)
            //{
            //    col.HeaderText("Map").TemplateID("#BtnTemplate").IsUnbound(true).TextAlign(TextAlign.Center).AllowFiltering(false).Width(90).Add();
            //}
        })
    )
</div>
<script id="View" type="text/x-jsrender">
    <a class="btn-xs btn-primary  glyphicon glyphicon-dashboard" href="/ProViews/ItemViewDetail?ItemId={{:ItemId}}&amp;ItemName ={{:ItemName}}"> </a>
</script>

<script type="text/javascript">
        function contextopen(sender) {

                     var context = this._conmenu.element;
        }

        function contextclick(sender) {
        }
</script>


<script id="APPROVED" type="text/x-jsrender">
    <span class="glyphicon glyphicon-ok" style="color:green">
        Yes
    </span>
</script>
<script id="REJECTED" type="text/x-jsrender">
    <span class="glyphicon glyphicon-remove" style="color:red">
        Rej
    </span>
</script>
<script id="NEW" type="text/x-jsrender">
    <span>
        PR
    </span>
</script>
<script id="REVIEWED" type="text/x-jsrender">
    <span>
        PA
    </span>
</script>
<script id="MISSINGMAPPING" type="text/x-jsrender">
    <span class="glyphicon glyphicon-remove" style="color:red">
        No
    </span>
</script>

<script>
    function contextclick(args) {

        if (args.text == "View Item Detail") {
                var tempData = args.text;
                var grid = $("#grdItemList").ejGrid("instance");
                var result = this.getSelectedRecords();
                var ItemId = result[0]["ItemId"];
                var ItemName = result[0]["ItemName"];
                var path = '@Url.Content("~/ProViews/ItemViewDetail")' + "?ItemId=" + ItemId + "&ItemName=" + ItemName
                  
                window.location.replace(path);

            }
          
               
    }

</script>
