@model SmartSys.BL.RDS.RDSTriggerModel

@{
    ViewBag.Title = "Create";
}
<style>
    td {
        padding-right: 15px;
    }
</style>
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-leaf  text-info">
    Create RDS Trigger
</div>
<script>
    $(document).ready(function () {
        $('.save').click(function (e) {
         
            var TriggerName = $('#TriggerName').val();
            var Description = $('#Description').val();
            if (TriggerName.toString() == "") {
                alert("Please Enter Trigger Name ");
                return false;
            }
            
            $("#Form1").unbind('submit').submit(); 
        });
    });
</script>
@using (Html.BeginForm("Create", "RDSTrigger", FormMethod.Post, new { Id = "Form1" }))
{

    <html>
    <body>
        <br>
        <table class="spacing-table" style="border-collapse:separate;border-spacing: 0 5px;">
            <tr>
                <td>
                    <label for="TriggerName">Trigger Name </label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.TriggerName, new { @class = "form-control", id = "TriggerName" })
                        @Html.ValidationMessageFor(model => model.TriggerName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Description">Description</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", id = "Description" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'GetRDSTriggerList';" );"> Back</button>
                </td>
                <td>
                    <div class="btn" aria-label="...">
                        <button type="submit" class="btn-xs  btn-info glyphicon glyphicon-save save"> Save</button>
                    </div>
                </td>

            </tr>
        </table>
    </body>
</html>
}


