@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
    .bgcolor {
        background: -webkit-linear-gradient(left,#cfb172,#769c9c);
    }
</style>

<body class="bgcolor">
<div>
    <h2 style="margin:40px; font-weight:bolder">
        Forgot Password Confirmation
    </h2>
    <h4 style="font-weight:bolder" >
        Please check your email to reset your password.
    </h4>
</div>
    </body>
	
