<div class="modal-body">
    <table>
        <tr>

            <td>
                <div class="page-header glyphicon glyphicon-thumbs-up  text-info ">
                    Information
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div>
                    <h3 style="background-color:#5CB85C"> Your Data  Added Sucessfully....</h3>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    @Html.ActionLink("OK", "CreateFeed", new { iFeedID = 0 }, new { @class = "btn btn-success" })
                </div>
            </td>
        </tr>
    </table>


</div>
