@using System.Collections;

<div class="page-header glyphicon glyphicon-calendar  text-info ">
    TM Meeting Organizer
</div>

<div>

    @Html.EJ().Button("submit").Text("Export").Width("80px").Height("30px").ClientSideEvents(cli => cli.Click("onClientClick"))


    @(Html.EJ().Schedule("Schedule")
        .Width("100%")
        .Height("600px")

        .CurrentDate(DateTime.Now)
        .ScheduleClientSideEvents(eve => eve.Create("onCreate"))
         .TimeZone("UTC +05:30")
         .ShowLocationField(true)
        .Resources(res =>
        {
            //res.Field("Owner").AllowMultiple(false).Title("Orginizor ").ResourceSettings(rs => rs.Id("EmpId").Text("EmpName").Datasource("/Calendar/GetOwners")).Add();
            res.Field("Participant").AllowMultiple(true).Title("Participant ").ResourceSettings(rs => rs.Id("EmpId").Text("EmpName").Datasource("/Calendar/GetOwners")).Add();
        })
        .AppointmentSettings(fields => fields.Datasource(ds => ds.URL("/Calendar/GetData").Adaptor("UrlAdaptor"))
            .Id("Id")
            .Subject(subject => subject.Field("Subject").ValidationRules(v => v.AddRule("required", true)))
            .Location(location => location.Field("Location").ValidationRules(v => v.AddRule("required", true).AddRule("customRule", "/^[a-zA-Z0-9- ]*$/")))
            .StartTime("StartTime")
            .EndTime("EndTime")
            .Description("Description")
            .AllDay("AllDay")
            .Recurrence("Recurrence")
            .ResourceFields("Participant")

            .RecurrenceRule("RecurrenceRule"))
                     .ScheduleClientSideEvents(evt =>
                    evt.AppointmentRemoved("onAppointmentRemoved")
                    .AppointmentDeleted("AppDel")
                            )

    )
</div>

<script>
function onCreate(args) {
    this._dataManager.dataSource.crudUrl = "/Calendar/Batch";
}

    function AppDel(args) {
        var id = args.appointment[0].Id;
        if (id > 0) {
            var path = '@Url.Content("/Calendar/DeleteAppontment")' + "?id=" + id
            event.preventDefault();
            window.location.replace(path);
        }
        else {
            return false;
        }

    }
    function onClientClick(args) {
        var obj = $("#Schedule").data("ejSchedule");
        obj.exportSchedule("ExportAsPDF", null, null);
    }
</script>
