<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GenLog4NetConfigFile" value="D:\DPK\LogForNetConfig.config"/>
    <add key="LocalReportTemplateLocation" value="D:\LocalLocation\"/>
    <add key="StagingAreaLocation" value="D:\Outputs\"/>
    <add key="FTP" value="ftp://20d.2dc.myftpupload.com/"/>
    <add key="FTPUid" value="supermaticftp"/>
    <add key="FTPPWD" value="Abhishek@123"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="server=192.168.1.100; Connection Timeout=800;  User ID=sa; password=dpk@123; database=SMARTSYSDB"/>
  </connectionStrings>

</configuration>