@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Supermatic Technologies Pvt. Ltd.<br />
    'Pushpanjali', Sector 13, Plot 123, Chikhli Pradhikaran Chinchawd Pune 411019<br />
    <abbr title="Phone">P:</abbr>
    +91 20 6522 7727
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@supermatic.in</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@supermatic.in</a>
</address>