<!--Currency Converter widget by FreeCurrencyRates.com -->


<script src="~/Scripts/CurrencyConvertor.js"></script>
<div id='gcw_mainFM3gQGfJO' class='gcw_mainFM3gQGfJO'></div>
<a id='gcw_siteFM3gQGfJO' href='https://freecurrencyrates.com/en/'></a>
<script>function reloadFM3gQGfJO() {
var sc = document.getElementById('scFM3gQGfJO'); if (sc) sc.parentNode.removeChild(sc); sc = document.createElement('script'); sc.type = 'text/javascript'; sc.charset = 'UTF-8'; sc.async = true; sc.id = 'scFM3gQGfJO'; //sc.src = 'https://freecurrencyrates.com/en/widget-vertical?iso=USDEURGBPJPYCNYINR&df=2&p=FM3gQGfJO&v=its&source=fcr&width=245&width_title=0&firstrowvalue=1&thm=dddddd,eeeeee,E78F08,F6A828,FFFFFF,cccccc,ffffff,1C94C4,000000&title=Currency%20Converter&tzo=-330';
    var div = document.getElementById('gcw_mainFM3gQGfJO'); div.parentNode.insertBefore(sc, div);
} reloadFM3gQGfJO(); </script>
<!-- put custom styles here: .gcw_mainFM3gQGfJO{}, .gcw_headerFM3gQGfJO{}, .gcw_ratesFM3gQGfJO{}, .gcw_sourceFM3gQGfJO{} -->
<!--End of Currency Converter widget by FreeCurrencyRates.com -->
<!--Currency Converter widget by FreeCurrencyRates.com -->
