@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<div class="jumbotron">
    <h2>SmartSys by Supermatic Technologies Pvt. Ltd.</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reporting Infrastructure.</h2>
        <p>
            Comming Soon an amazing Reporting Infrastructure. This new Infrastructure product developed by Supermatic Technologies Pvt Ltd, a new young and dynamic company, will help you achive all your reporting needs.
        </p>
        <p><a class="btn btn-default" href="http://Supermatic.in">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more than what you Have</h2>
        <p>No Matter if you have multiple software applications in your organization. This Smart Reporting Infrastructure is Capable to connect any type of Data Source Such as Flat File, XLS, Sybase, MS Sql Server, MY SQL, Oracle, ODBC Connectivity, XML etc. and can summarize it for you in different reports. MIS Reports with cross application data. Design your own Interactive dashboard</p>
        <p><a class="btn btn-default" href="http://Supermatic.in">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Report Wherever you want</h2>
        <p>You can easily Setup Reports which can fetch data from almost any type of database. and Configure it to deliver using your convinient way which includes but not limited to e-mail, FTP, Shared Drive, External application web service etc. You have choice to schedule as well as package multiple reports and deliver per subscription. </p>
        <p><a class="btn btn-default" href="http://Supermatic.in">Learn more &raquo;</a></p>
    </div>
</div>
