<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GenLog4NetConfigFile" value="D:\DPK\LogForNetConfig.config"/>
    <add key="RDSJobThreads" value="5"/>
    <add key="RDSHeartBeatSendInterval" value="60"/>
    <add key="RDSPolling" value="60"/>
    <add key="StagingAreaLocation" value="D:\Outputs\"/>
    <add key="MaxReportRunTime" value="60"/>
    <add key="FTP" value="ftp://107.180.0.192/" />
    <add key="FTPUid" value="supermaticftp" />
    <add key="FTPPWD" value="Abhishek@123" />
    <add key="EmailServer" value="smtp.gmail.com"/>
    <add key="EmailUserName" value="smartsysmailer@gmail.com"/>
    <add key="EmailPassword" value="Supermatic@123"/>
    <add key="EmailPort" value="587"/>
    <add key="emailSSL" value="True"/>
    <add key="LocalPath" value="c:\temp\"/>
    <add key ="SupportMail" value="supermatictech@gmail.com"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime
      targetFramework="4.5"
      maxRequestLength="15360"
      requestLengthDiskThreshold ="15360"
    />
  </system.web>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=192.168.1.27,51315;Initial Catalog=SmartSysPlusMS;uid=sa;pwd=Admin@123;Connect Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>