@model SmartSys.BL.Project.ProcjectDocModel

@{
    ViewBag.Title = "ProjectTaskAttachment";
}

<style>
    td {
        padding-right: 15px;
    }
</style>

<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-upload  text-info">
    ADD Attachment
</div>

@using (Html.BeginForm("ProjectTaskAttachment", "ProjectCenter", FormMethod.Post, new { Id = "frmAddress", enctype = "multipart/form-data" }))
{
    <html>
    <body>

        <div>
            <table style="border-collapse:separate;border-spacing: 0 5px;">

                <tr>
                    <td>
                        <label for="ItemName">File:</label>
                    </td>
                    <td>
                        <div class="">
                            @Html.HiddenFor(model => model.ProjectId)
                            @Html.HiddenFor(model => model.TaskId)
                            @Html.HiddenFor(model => model.Path)
                            <div class="navbar-text input-group-btn">

                                <input type="file" name="file" id="fileInput" value="uploadfile" class="btn btn-success" required />
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label for="ItemName">Description:</label>
                    </td>
                    <td>
                        <div class="">
                            @Html.TextBoxFor(model => model.Description, new { @required = "required", @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn" aria-label="...">
                            <button type="submit" class="btn-xs btn-info glyphicon glyphicon-save save"> Save</button>
                        </div>
                    </td>
                </tr>

            </table>

            </div>
        </body>
</html>
            }




