@model SmartSys.BL.BOMAdmin.InwardDocumentDetailModel

@{
    ViewBag.Title = "CreateInwardDocDetail";
}

<script type="text/javascript">
    $(function () {
        $("#reset").on("click", function () {
            $("#fileInput").val(null);
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.submit').click(function (e) {
            var DocumentTitle = $('#DocumentTitle').val();
            var File = $('#fileInput').val();
            if (DocumentTitle.toString() == "") {
                alert("Please Enter Document Title ");
                return false;
            }
            if (File.toString() == "") {
                alert("Please Select the File ");
                return false;
            }
            $("#Library").unbind('submit').submit();
        });
    });
</script>

<div class="page-header glyphicon glyphicon-list  text-info">
    Vendor Libary
</div>
@using (Html.BeginForm("CreateInwardDocDetail", "BOMAdmin", FormMethod.Post, new { Id = "Library", enctype = "multipart/form-data" }))
{
    <html>
    <body>

        <div class="">
            <table>
                <tr>
                    <td>@Html.HiddenFor(model => model.DocId)</td>
                </tr>
                <tr>
                    <td><label for="Document Title">Document Title</label></td>
                    <td>
                        <div class="editor-field navbar-text">
                            @Html.TextBoxFor(model => model.DocumentTitle,new { @class="form-control"})
                            @Html.ValidationMessageFor(model => model.DocumentTitle, "", new { id = "DocumentTitle", @class = "text-danger" })
                        </div>
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <div class="navbar-text">
                            <label>File:</label>
                        </div>
                    </td>
                    <td>
                        <div class="navbar-text input-group-btn">

                            <input type="file" name="file" id="fileInput" value="uploadfile" class="btn btn-success" />
                        </div>
                    </td>
                    <td>
                        <input type="button" id="reset" value="Remove" class="btn btn-warning" />

                    </td>
                </tr>
                <tr>

                    <td>
                        <div class="navbar-text">
                            <button type="submit" class="submit btn-xs btn-primary glyphicon glyphicon-save-file"> Upload</button>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </body>
</html>
}


