<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DHLog4NetConfigFile" value="D:\DPK\LogForNetConfig.config"/>
    <add key="TempLocation" value="H:/TempFileLocation/" />
    <add key="FTP" value="ftp://107.180.0.192/" />
    <add key="FTPUid" value="testftp" />
    <add key="FTPPWD" value="Abhishek@123" />
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="server=SMPL01; Connection Timeout=800;  User ID=sa; password=sa123; database=SMARTSYSDB"/>
  </connectionStrings>
 
</configuration>