@model SmartSys.BL.RDS.DailyReportBookModel

<div class="modal-body">
    <h2>Error Detail</h2>
    <p>

        @ViewBag.ErrorMsg


    </p>
    <div class="row">
        &nbsp;
    </div>
    
</div>


