<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IMLog4NetConfigFile" value="D:\ReportContainer\LocalInfo\LogForNetConfig.config"/>
    <add key="LocalReportTemplateLocation" value="D:\LocalLocation\"/>
    <add key="StagingAreaLocation" value="D:\Outputs\"/>
    <add key ="InstanceManagerLocation" value="D:\ReportContainer\LocalInfo\InstanceManager.exe"/>
    <add key="CRGenExe" value="D:\ReportContainer\LocalInfo\"/>
    <add key="CRGenProcessTitle" value="CRGenerator"/>
    <add key="EWGenExe" value="D:\ReportContainer\LocalInfo\"/>
    <add key="EWGenProcessTitle" value="EWGenerator"/>
    <add key="RDSEngineProcessTitle" value="SmartSys.RDSEngine"/>
    <add key="RDSEngineExe" value="C:\RGS\"/>
    <add key="LoaderProcessTitle" value="DHLoader"/>
    <add key="LoaderExe" value="C:\AjitLive\trunk\SmartSys.DHLoader\bin\Debug\"/>

  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="server=192.168.1.27,51315; Connection Timeout=800;  User ID=sa; password=Admin@123; database=SMARTSYSDB"/>
  </connectionStrings>
</configuration>